<div id="<%= dom_id role %>">
  <p>
    <strong>Job:</strong>
    <%= role.job %>
  </p>

  <p>
    <strong>Specification:</strong>
    <%= role.specification %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= role.person_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= role.movie_id %>
  </p>

</div>
